Repository rosbel/crawl-n-snap: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

remove redudant husky install
  package.json
Due: prettier --write

Fix tests and bump deps
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/link-extraction.test.ts
  src/utils.test.ts
Due: prettier --write, eslint --fix

Fix lint errors
  src/index.ts
  src/link-extraction.test.ts
  src/utils.ts
Due: prettier --write, eslint --fix

cleanup redundancy
  src/index.ts
Due: prettier --write, eslint --fix

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: prettier --write

Update CI configuration to use pnpm cache instead of npm
  .github/workflows/ci.yml
Due: prettier --write

remove cache: pnpm
  .github/workflows/ci.yml
Due: prettier --write

Update src/utils.ts
  src/utils.ts
Due: prettier --write, eslint --fix

Add husky, tests, and CI for PRs (#4)
  .eslintrc.json
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  CLAUDE.md
  README.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/link-extraction.test.ts
  src/utils.test.ts
  src/utils.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

Add icons
  static/Crawley.png
  static/Crawley.webp
Due: none

Add icons (#5)
  static/Crawley.png
  static/Crawley.webp
Due: none

Use correct version with --version, and fix bug
  package.json
  src/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Use correct version with --version, and fix bug (#6)
  package.json
  src/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Update README badges
  README.md
Due: prettier --write

Update README badges (#7)
  README.md
Due: prettier --write

Bump version to 1.1.5 and add homepage to package.json
  README.md
  package.json
Due: prettier --write

dm -> dt
  README.md
Due: prettier --write

Bump version to 1.1.5 and add homepage to package.json (#8)
  README.md
  package.json
Due: prettier --write

update claude.md
  CLAUDE.md
Due: prettier --write

update claude.md (#9)
  CLAUDE.md
Due: prettier --write

Add configuration file support and enhance error handling
  .crawlsnaprc.example.json
  AGENTS.md
  README.md
  src/config.test.ts
  src/error-handling.test.ts
  src/index.ts
Due: prettier --write, eslint --fix

style: format code and improve consistency in configuration files and tests
  .eslintrc.json
  .github/workflows/npm-publish.yml
  .prettierignore
  AGENTS.md
  CLAUDE.md
  README.md
  eslint.config.mjs
  package.json
  src/utils.test.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

style: format code and improve consistency in configuration files and tests
  .crawlsnaprc.example.json
  README.md
  src/index.ts
  src/utils.ts
Due: prettier --write, eslint --fix

feat(ui): enhance UI build process and add utility functions
  .github/workflows/ci.yml
  eslint.config.mjs
  package.json
  ui/eslint.config.mjs
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/App.tsx
  ui/src/theme.css
  ui/src/utils.test.ts
  ui/src/utils.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

feat(dev): add web UI and dev API for interactive runs (#11)
  .crawlsnaprc.example.json
  .eslintrc.json
  .github/workflows/ci.yml
  .github/workflows/npm-publish.yml
  .gitignore
  .prettierignore
  AGENTS.md
  CLAUDE.md
  README.md
  eslint.config.mjs
  package.json
  scripts/dev.ts
  src/config.test.ts
  src/dev-server.ts
  src/dev.ts
  src/error-handling.test.ts
  src/index.ts
  src/utils.test.ts
  src/utils.ts
  static/dev/admin/dashboard.html
  static/dev/index.html
  static/dev/product.html
  ui/eslint.config.mjs
  ui/index.html
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/App.tsx
  ui/src/api.ts
  ui/src/main.tsx
  ui/src/theme.css
  ui/src/utils.test.ts
  ui/src/utils.ts
  ui/tsconfig.json
  ui/vite.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

fix: bound concurrency and return complete, ordered results in limitConcurrency
  src/concurrency.test.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix: bound concurrency and return complete, ordered results in limitConcurrency (#12)
  src/concurrency.test.ts
  src/index.ts
Due: prettier --write, eslint --fix

perf: remove redundant navigation and make page-load waiting fast and safe
  src/dev-server.ts
  src/dev.ts
  src/index.ts
Due: prettier --write, eslint --fix

perf: remove redundant navigation and make page-load waiting fast and safe (#13)
  src/dev-server.ts
  src/dev.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix: honor CLI/config precedence and report results truthfully
  .crawlsnaprc.example.json
  README.md
  src/config.test.ts
  src/index.ts
  src/retry.test.ts
Due: prettier --write, eslint --fix

fix: honor CLI/config precedence and report results truthfully (#14)
  .crawlsnaprc.example.json
  README.md
  src/config.test.ts
  src/index.ts
  src/retry.test.ts
Due: prettier --write, eslint --fix

feat: add capture options — format/quality, element & region, stability
  README.md
  src/clip.test.ts
  src/dev-server.ts
  src/dev.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat: add capture options — format/quality, element & region, stability (#15)
  README.md
  src/clip.test.ts
  src/dev-server.ts
  src/dev.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore: adopt Changesets and fix the npm publish pipeline
  .changeset/README.md
  .changeset/capture-options-and-faster-navigation.md
  .changeset/config.json
  .changeset/limiter-and-cli-correctness-fixes.md
  .github/workflows/ci.yml
  .github/workflows/npm-publish.yml
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: adopt Changesets and fix the npm publish pipeline (#16)
  .changeset/README.md
  .changeset/capture-options-and-faster-navigation.md
  .changeset/config.json
  .changeset/limiter-and-cli-correctness-fixes.md
  .github/workflows/ci.yml
  .github/workflows/npm-publish.yml
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

security: harden the local dev API server
  .changeset/harden-dev-server.md
  src/dev-server.test.ts
  src/dev-server.ts
Due: prettier --write, eslint --fix

security: harden the local dev API server (#17)
  .changeset/harden-dev-server.md
  src/dev-server.test.ts
  src/dev-server.ts
Due: prettier --write, eslint --fix

fix(ui): dev UI quality fixes (stuck runs, NaN inputs, scroll, perf)
  .changeset/dev-ui-quality.md
  ui/src/App.tsx
Due: prettier --write

fix(ui): dev UI quality fixes (stuck runs, NaN inputs, scroll, perf) (#18)
  .changeset/dev-ui-quality.md
  ui/src/App.tsx
Due: prettier --write

feat: device emulation and authentication
  .changeset/device-emulation-and-auth.md
  .crawlsnaprc.example.json
  README.md
  src/dev-server.ts
  src/dev.ts
  src/emulation.test.ts
  src/index.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,md,yml})
  eslint --fix: any of: *.ts
